

.container {
    margin-top: 50px;
  }
  
  button {
    margin-top: 20px;
  }
  
  #display {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
  .card {
    margin: 10px; 
  }
  
  .try {
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .footer {
    margin-top: 20%;
  }